body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
    color: #333;
}

header {
    /* Clear the float so the header wraps around all content */
    overflow: auto;
    background: #111;
    color: white;
    padding: 10px;
    text-align: center;
}

.header-logo {
    float: left; /* Aligns the image to the left */
    margin-right: 20px; /* Adds some space between the image and other content */
    /* Add dimensions as needed */
    width: 50px;
    height: auto;
}

section {
    padding: 10px;
    max-width: 900px;
    margin: auto;
}

.project {
    background: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
}

a {
    color: #007bff;
    text-decoration: none;
}
