body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
    color: #333;
}

header {
    /* Clear the float so the header wraps around all content */
    overflow: auto;
    font-style: italic;
    font-family: "Georgia", serif;
    text-shadow: 2px 2px 2px #aaa999;
    color: #ffffff;
    background: #191940;
    padding: 10px;
    text-align: center;
}

.profile_pix {
    float: left; /* Aligns the image to the left */
    margin-right: 5px; /* Adds some space between the image and other content */
    /* Add dimensions as needed */
    width: 130px;
    height: auto;
}

section {
    padding: 10px;
    max-width: 900px;
    margin: auto;
}

.about_me {
    overflow: auto;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.project {
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.contact {
    background: white;
    padding: 10px;
    border-radius: 8px;
}

a {
    color: #007bff;
    text-decoration: none;
}
